.hidden {
  display: none;
}

.imageHero {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 60px;
}

.divider {
	width: 1500px;
	border-bottom: 3px solid black;
	justify-content: center;
	margin: 0 auto;
	padding-top: 40px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-width: 1200px;
  display: block;
  padding-left: 360px;
}

.container_image {
  width: 400px;
  margin: 30px 30px 30px 0;
  float: left;
}

.container_image_right {
  width: 600px;
  margin: 30px 30px 0 3px;
  float: right;
  padding-right: 200px;
}

.container_text {
  margin: 0 auto;
  width: 1200px;
  font-family: "Montserrat", Helvetica, sans-serif;
  display: inline;
  line-height: -30px;
}

h1
{
  font-size: 50px;
  background: rgb(2,0,36);
  background: -webkit-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(47,223,212,0.5491990846681922) 100%);
  background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(47,223,212,0.5491990846681922) 100%);
  background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(47,223,212,0.5491990846681922) 100%);
}

h2
{
  font-family: "Open Sans", arial, sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
}

p
{
	padding-top: 30px;
	width: 1200px;
	margin: 0 auto;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 30px;
	line-height: -20px;
}

p::first-letter {
  font-size: 35px;
  font-weight: bold;
  color: #696969;
}

h2, p:hover {
  cursor: pointer;
}
